.skills-tile {
  background-color: white;
  color: black;
  font-size: large;
  box-shadow:
  0 2.6px 4.5px rgba(0, 0, 0, 0.015),
  0 21px 36px rgba(0, 0, 0, 0.03);
  width: 40%;
  border-radius: 0.1rem;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 2ex;
}

.divider {
  height: 3px;
  width: 100%;
  background-color: #dc9e82c2;
  margin: 1rem 0rem;
}

.image {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 20%;
  height: auto;
  padding-right: 1vh;
}

