#Timeline {
  /* background-color: #DC9E82; */
  background-color: #F2F3D9;
}

#Timeline .section-title {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #151E3F;
}

.timeline-elements {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
